@import "variables";

* {
  font-family: "pt sans";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2.2rem;

  padding: 0;
}

main {
  input,
  button {
    margin: auto;
    display: block;
  }
}

input {
  justify-content: center;
  border-color: $grey;
  border-radius: $border-radius;
  height: 30px;

  ::placeholder {
    color: $grey;
  }
}

.btn {
  background-color: $green;
  color: $teal;
  border: none;
  padding: 10px 32px;
  text-align: center;
  border-radius: $border-radius;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    background: $darker-green;
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  height: 55px;
  padding: 0;
  margin: 0;

  .logo {
    height: 50px;
    width: 50px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;

    p {
      margin: 0px;
      font-size: 14px;
    }

    .profilePicture {
      width: 30px;
      border-radius: 100%;
    }
  }
  .logo2 {
    scale: 0.5;
  }
  // .logo-text-container {
  //   bottom: 0;

  // }

  .btn {
    position: absolute;
    // align-items: center;
    // padding: 5px;
    right: 10px;
    margin: 5px;
  }

  // className="logotext"
  // style={{
  //   width: "150px",
  //   display: "inline-block",
  //   position: "absolute",
  //   left: "-5px",
  // }}
}

header,
footer {
  background-color: $teal;
  color: $white;

  h1 {
    margin: 0px;
    color: white;
  }
}

footer {
  text-align: center;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 1.5rem;
}

svg {
  height: 50px;
  width: 50px;
}
