//global rules here - the generic stuff

$navy: #2e42ac;
$green: #d6ee79;
$sage: #d3bb5b84;
$white: #ffffff;
$black: #000000;
$grey: #b3b3b3;

html {
  font-size: 62.5%;
}

body {
  font-size: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  input,
  button {
    margin: auto;
    display: block;
  }
}

.btn {
  background-color: $green;
  color: $navy;
  border: none;
  padding: 15px 32px;
  text-align: center;
  border-radius: 8px;
  font-size: 16px;
}

input {
  justify-content: center;
  border-color: $grey;
  border-radius: 8px;
  height: 30px;
  ::placeholder {
    color: $grey;
  }
}

header,
footer {
  background-color: $navy;
  color: $white;
}

footer {
  text-align: center;
  color: white;
}
