body p,
body h1,
body h2 {
  margin: 0px;
}

h1 {
  text-align: center;
}

.dashboard {
  width: 100%;
  height: fit-content;
}

.dashboardFixed,
.expenses {
  padding: 0px 10px 0px 10px;
}

.piechart {
  height: 150px;
  margin: 0px auto;
  display: block;
}

.controlsExpenses .addExpense {
  padding: 5px 20px;
  display: block;
}

.addExpense {
  margin: 5px 0px;
  width: 100%;
}

.dashboardFixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
}

.mt {
  margin-top: 350px;
}

.expenseItem {
  padding: 5px;
  border: lightgray 2px solid;
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: 40px 1fr 50px 30px;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 10px;
}

.icon {
  height: 40px;
  border: #fcd66f 2px solid;
  border-radius: 30px;
}

.delete {
  height: 30px;
  cursor: pointer;
}

.expenseItem h2 {
  font-size: 20px;
}

.foreignAmount {
  font-size: 12px;
}

.deletePopUp {
  position: fixed;
  background: white;
  border: red solid 2px;
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.deletePopUp p {
  margin-bottom: 10px;
}

.containerBtnPopUp {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 5px 10px;
}

.controlsExpenses {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.containerTitle p {
  color: green;
}

.containerBudget {
  display: flex;
  justify-content: space-between;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
