header,
footer {
  background-color: #3c43a5;
  color: white;
  padding: 5px 10px;
  ;

  h1 {
    margin: 0px;
    color: white;
  }
}

header {
  display: flex;
  justify-content: space-around;

  .logo {
    height: 50px;
    width: 50px;
  }

  svg {
    height: 50px;
    width: 50px;
  }

  .profile {
    .profilePicture {
      height: 30px;
      border-radius: 100%;
      margin: 0px auto;
      display: block;
    }

    p {
      margin: 0px;
      font-size: 14px;
      text-align: center;
    }
  }
}

// footer {
//   position: fixed;
//   width: 100%;
//   bottom: 0;
// }