@import "variables";

.errortext {
  color: $red;
  text-align: center;
  font-size: 1.6rem;
}
.loginInput {
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
}

.signup-text {
  font-size: 1.3rem;
  text-align: center;
}

.signup-text a {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 800;
}

.signup-text a:hover {
  color:$teal;
}

.signin-title {
  text-align: center;
}

.login-title {
  text-align: center;
}
